@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Forum&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

html, body {
	background-color: #f0e5e0;
	font-family: 'Work Sans', sans-serif;
	color: #3B5249;
	letter-spacing: 0.01rem;
	line-height: 1.4rem;
	text-rendering: optimizeLegibility;
}

.yellowtag {
	background-color: #f9f900;
	width: 50%;
	height: 45px;
	top: -24px;
	position: relative;
}

.yellowtag > p {
    margin: 0;
    padding: 10px;
    color: #15231E;
}

h2 {
	font-family: 'Forum', serif;
	font-size: 2.4rem;
	color: #15231E;
	letter-spacing: -0.03rem;
	line-height: 2.8rem;
	margin-bottom: 1.5rem;
}

h3 {
	font-family: 'Forum', serif;
	font-size: 1.6rem;
	color: #15231E;
	letter-spacing: -0.03rem;
	line-height: 1.8rem;
	margin-bottom: 0.6rem;
	margin-top: 2.5rem;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.1rem;
	color: #3B5249;
	letter-spacing: -0.02rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 400;
}

.mc-cover {
	background-color: #3B5249;
	height: 50px;
}

.mc-cover h2 {
	color: #F9F900;
}

.mc-flex-middle {
	display: inline-flex;
	align-items: center;
}

.maxwidth {
	max-width: 1022px;
}

.mc-row {
	margin: 100px 0px 120px 0px;
}

.mc-container {
	border-top: 1px solid #3B5249;
}

.evys_logos > div > img {
    background-color: white;
}

.mc-footer {
	background-color: #3B5249;
}

.mc-footer p {
	color: #f0e5e0;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.mc-footer a {
	color: #f0e5e0;
}

.mc-footer a:hover {
	color: #b1bdbb;
}